
@{
    ViewData["Title"] = "TemporarErrorPage";
}

@*This view is used to render a friendly page for the user in case the Connectoin to the API lost and the game can't be played*@



<div>
    <br /><br />
    <h1>Game is not available att the Moment</h1>
    <h2>Sorry for inconvenience</h2>
    <br />
    <p>Please Contact Customer service if the issue presists</p>
</div>
<div>
    <img width="650" height="500" src="~/img/panda.jpg" style="align-content:center" />
</div>

