
@{
    ViewData["Title"] = "TemporarErrorPage";
}


<div>
    <br /><br />
    <h1>Game is not available att the Moment</h1>
    <h2>Sorry for inconvenience</h2>
    <br />
    <p>Please Contact Customer service if the issue presists</p>
</div>
<div>
    <img width="650" height="500" src="~/panda.jpg" style="align-content:center" />
</div>

